@import "index.scss";

.hero-section {
	width: 100%;

	display: grid;
	place-items: center;

	.subtitle,
	.main-title {
		user-select: none;
		pointer-events: none;
	}

	.traces {
		.trace {
			position: absolute;
			width: clamp(30rem, 40vw, 70rem);

			pointer-events: none;
			user-select: none;

			transition: transform 0.2s ease-out;
			will-change: transform;
			z-index: -1;
		}

		.trace-top-right {
			top: 0;
			right: 0;
			transform: translate(
				clamp(8rem, 10vw, 12rem),
				clamp(2rem, 1vw, 3rem)
			);
		}

		.trace-bottom-left {
			bottom: 0;
			left: 0;
			transform: translate(
				clamp(-12rem, -10vw, -12rem),
				clamp(-6rem, -1vw, -5rem)
			);
		}
	}

	.down-arrow {
		.down-icon {
			position: absolute;
			bottom: 0;
			transform: translateY(clamp(-6rem, -6vh, -6rem));
			width: clamp(1rem, 3vw, 2rem);
			display: grid;
			left: 50%; // center horizontally
			transform: translate(-50%, -6rem); // perfect alignment
			place-items: center;
		}
	}

	.subtitle {
		color: $accent-gray;
		text-align: center;
		font-family: $main-font;
		font-style: normal;
		font-weight: 800;
		line-height: 1.1;
		text-transform: uppercase;

		// Dynamic font size: min 1.2rem → ideal 2vw → max 2rem
		font-size: clamp(0.8rem, 2vw, 2rem);
	}

	.main-title {
		color: $accent-gray;
		text-align: center;
		font-family: $main-font;
		font-style: italic;
		font-weight: 900;
		line-height: 0.8;
		letter-spacing: clamp(-0.3rem, 1vw, -1.25rem);
		text-transform: uppercase;

		// Dynamic font size: min 4rem → ideal 10vw → max 18rem
		font-size: clamp(4rem, 20vw, 24rem);
	}
}
