@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #0f0f0f;
  background-image: url("./assets/WavyLine_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
